
.parent{
    display: flex;
}

.div1{
    flex: 1;
}
.div2{
    flex: 2;
}

.border{
    /* border: 1px solid gray; */
    padding: 1rem;
    box-shadow: 0px 0px 14px #d0d0d0;
    border-radius: 7px;
}

.parent1{
    display: flex;
    gap: 10px;
    /* align-items: center; */
    margin-top: 2rem;
}

.box1{
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2{
    height: 170px;
    width: 250px;
}
.box3{
    height: 300px;
}
.box4{
    height: 200px;
}

.box-width{
    width: 200px;
    height: 200px !important;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.external{
    border: 2px solid red;
    height: 300px;
    width: 300px;
    /* background-color: red; */
    position: relative;
}

.internal{
    /* border: 1px solid gray; */
    /* height: 100px;
    width: 200px; */
    font-size: 2rem;
    /* text-shadow: 0px 0px 11px #145de0; */
    /* color: white; */
    color: transparent;
    background-clip: text;
    background-image: url(https://cdn.pixabay.com/photo/2017/02/07/09/02/wood-2045380_1280.jpg);
    position: absolute;
    bottom: 0px;
    right: 0px;
}