.container{
    padding: 1rem;
    display: grid;
    background-color: #dbf9eb;
    /* height: 600px; */
    /*Fixed sized*/
    /* grid-template-columns: 300px 300px 400px;   */
    /* grid-template-columns: 300px 1fr 1fr;   */
    /* Equal width to each column */
    /* grid-template-columns: auto auto auto; */
    /* unequal width for the columns */
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(6, 1fr); */
    /* grid-template-columns: minmax(200px, 1fr) 1fr 1fr; */
    /* grid-template-rows: 1fr 2fr 3fr; */
    /* row-gap: 1rem;
    column-gap: 1rem; */

    grid-template-rows: 100px 100px 100px;

    gap: 1rem;
    justify-content: space-between;
    /* align-content: space-between; */
    box-shadow: 1px 2px 12px #94b6f2;
    border-radius: 13px;
}

.container > div{
    padding: 1rem;
    /* border: 1px solid #a1a1a1; */
    box-shadow: 1px 2px 12px #beadf1;
}

.div1{
    /* grid-column-start: 1;
    grid-column-end: 3; */

    grid-column: 1 /span 2;
    grid-row: 1 /span 2;
    /* order: 3; */
}

.div2{
    /* grid-column: 3 / span 1; */
    /* order: 1; */
}

.div3{
    /* grid-row-start: 2;
    grid-row-end: 4; */
    /* grid-row: 2 /span 2; */
    /* order: 2; */
}