.parent{
    display: flex;
    flex-wrap: wrap;
}

img{
    height: 400px;
    width: 400px;
}

.para1{
    padding: 1rem;
    width: 600px;
    text-align: justify;
}

.image-container{
    padding: 1rem;
    /* width: 400px; */
}
.para2{
    padding: 1rem;
    width: 300px;
    text-align: justify;
}
.para3{
    padding: 1rem;
    width: 500px;
    text-align: justify;
}

@media (max-width: 479px){
    .para1{
        color: red;
    }
    /* This will be a mobile design */
}
@media(min-width: 480px) and (max-width: 767px){
    .para1{
        color: green;
    }
    /* This will be ipad design */
}
@media (min-width:768px) and (max-width: 1200px) {
    /* This will be a laptop */
    .para1{
        color: blue;
    }
}
@media (min-width: 1201px){
    /* this will be large screens */
    .para1{
        color: red;
    }
}

/* 
@media (max-width: 700px){
    .para1{
        color: red;
    }
}

@media (min-width: 350px) and (max-width: 767px){
    img{
        height: 300px;
        width: 300px;
    }
}

@media (min-width: 768px){
    img{
        height: 500px;
        width: 500px;
    }
}
*/
/*
@media (min-width: 1200px){
    .para1{
        width: 800px;
        font-size: 24px;
    }

    img{
        height: 600px;
        width: 600px;
    }
    .para2{ 
        width: 450px;
    }
    .para3{
        width: 600px;
    }
}

@media (min-width: 1600px){
    .para1{
        width: 800px;
    }
    img{
        width: 650px;
        height: 650px;
    }
} */