*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    margin: 0;
}

/* .table-container{
    display: flex;
} */

.submit{
    background-color: transparent;
    border: 1px solid #03b303;
    color: #03b303;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.submit:hover{
    color: white;
    background-color: #03b303;
}

.description{
    border: 1px solid purple;
    padding: 1rem;
    margin: 10px auto;
    width: 80vw;
    height: 400px;
    overflow-y: scroll;
    text-align: justify;
}

table{
 border-collapse: collapse;
 width: 80vw;
 margin: auto;
}

table, td, th{
    border: 1px solid #a1a1a1;
}

th, td{
    padding: 1rem;
}

td{
    text-align: justify;
}

/* tr:hover{
    background-color: #f1f1f1;
} */

th{
    background-color: #d1d1d1;
}
/* 
tr{
    background-color: #d1d1d1;
} */
